# Firebase (restaurante-mira-18e0c) — claves públicas por diseño
VITE_FIREBASE_API_KEY=AIzaSyDUlrIfRRNrJf2Uq40r4RCafe9sYzMOpX8
VITE_FIREBASE_AUTH_DOMAIN=restaurante-mira-18e0c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=restaurante-mira-18e0c
VITE_FIREBASE_STORAGE_BUCKET=restaurante-mira-18e0c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=62450147191
VITE_FIREBASE_APP_ID=1:62450147191:web:aadad1416875a44309cb72
VITE_FIREBASE_MEASUREMENT_ID=G-ZHBEN1WBH0

# Geoapify (parkings) — crea tu cuenta gratis en geoapify.com
VITE_GEOAPIFY_KEY=tu_key_aqui
